* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background-color: #1f2937;
    color: white;
    width: 100%;
    padding: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    color: #f9faf8;
    font-size: 24px;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
} 

li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    color: orange;
}

.link {
    list-style-type: none;
}

button, a {
    color: white;
}

button:hover {
    background-color: orange;
}

a {
    text-decoration: none;
}

.hero { /*Need to fix this*/
    display: flex;
    gap: 16px;
    color: #f9faf8;
    padding: 16px 32px;
    height: 100%;
    background-color: #1f2937;
}
/*Left side of hero container*/
.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
    padding-top: 0;
    max-width: 800px;
    font-size: 18px;
}

.hero-content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.info img {
    display: flex;
    width: 50vh;
    height: 50vh;
    border: 2px solid #1f2937;
}

.info {
    display: flex;
}

h1 {
    text-align: left;
}

button { /*Needs fixed*/
    background-color: #3882f6;
    border-style: hidden;
    border-radius: 5px;
    padding: 8px;
    color: #f9faf8;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
    font-size: 32px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

#quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    background-color: #e5E7EB;
}

footer/*Ferdinand Quote*/ {
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    color: #1f2937;
    font-weight: 600;
}

.call {
    display: flex;
    margin: 75px;
    height: 150px;
    width: auto;
    background-color: #3882f6;
    color: #f9faf8;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
}

.sign-up {
    border: 2px solid white;
    background-color: ;
}

.footer /*Actual Footer*/{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    height: 100%;
    padding: 24px;
}